{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeleHealth | Sog'lig'ingiz g'amxo'ri</title>
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}">
</head>
<body>
<header>
    <a href="/" class="site-logo" aria-label="homepage"><img src="{% static 'assets/images/logo.png' %}" alt=""></a>
    {% include 'navbar.html' %}
</header>

<form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
    <section class="edit-profile">
        <div class="student-profile py-4" style="margin-top: 100px!important">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card shadow-sm"
                             style="border: #fff!important; border-bottom: none!important; box-shadow: none !important;;">
                            <div class="card-header bg-transparent text-center">
                                {% if request.user.profile.image %}
                                    <img class="profile_img" src="{{ request.user.profile.image.url }}"
                                         alt="student dp">
                                {% else %}
                                    <img class="profile_img" src="https://robocontest.uz/assets/img/no-avatar.jpg"
                                         alt="student dp">
                                {% endif %}
                                {{ p_form.image }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card shadow-sm">
                            <div class="card-header bg-transparent border-0 py-5">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Foydalanuvchi haqida ma'lumot
                                        </h3>
                                    </div>
                                </div>


                            </div>
                            <div class="card-body pt-0">
                                <table class="table table-bordered">
                                    <tr>
                                        <th width="30%">Ism</th>
                                        <td width="2%">:</td>
                                        <td>{% render_field u_form.first_name class="form-control" %}</td>
                                    </tr>
                                    <tr>
                                        <th width="30%">Familya</th>
                                        <td width="2%">:</td>
                                        <td>{% render_field u_form.last_name class="form-control" %}</td>
                                    </tr>
                                    <tr>
                                        <th width="30%">Email</th>
                                        <td width="2%">:</td>
                                        <td>{% render_field u_form.email class="form-control" %}</td>
                                    </tr>
                                    <tr>
                                        <th width="30%">Telefon raqam</th>
                                        <td width="2%">:</td>
                                        <td>{% render_field p_form.phone_number class="form-control" %}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div style="height: 26px"></div>
                    <div class="card shadow-sm w-100 py-3">
                        <div class="card-header bg-transparent border-0">
                            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Qo'shimcha ma'lumot</h3>
                        </div>
                        <div class="card-body pt-0">
                            {#                            <textarea name="" id="" cols="120" rows="10" class="form-control mt-3"></textarea>#}
                            {% render_field p_form.bio class="form-control mt-3" cols="120" rows="10" %}
                        </div>
                        <button class="btn form__button" style="width: 90% !important; margin-right: 50px;">
                            O'zgartirish
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>