
.profile{
    margin-top: 100px;
}

.student-profile .card {
    border-radius: 10px;
}


.student-profile .card .card-header .profile_img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%!important;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}